<ion-content class="body">
  <ion-header class="header">
    <ion-button fill="clear" [routerLink]="['/home']" class="logo">
      <ion-img src="../../assets/imagen/logo.png"></ion-img>
    </ion-button>
    <ion-label class="slogan">CapitanDante<br />GameStore</ion-label>
    <ion-img class="material-symbols-search" src="../../assets/imagen/search.png"></ion-img>
    <ion-img class="mdi-person" src="../../assets/imagen/user.png"></ion-img>
  </ion-header>
  <ion-content class="line-1"></ion-content>
  <ion-button fill="clear" [routerLink]="['/oferts']" class="imageButtonBack">
    <ion-img src="../../assets/imagen/buttonBack.png" class="buttonBack"></ion-img>
  </ion-button>

  <ion-content class="compra">
    <ion-img class="imgMortalKombat" src="../../assets/imagen/MortalKombatOferts.png"></ion-img>
    <ion-content class="rectangleCompra"></ion-content>
    <ion-content class="textCompra">
      Mortal Kombat 1 (PS5) Key - Global
    </ion-content>
    <ion-img class="imgLogo" src="../../assets/imagen/Ps5Logo.png"></ion-img>
    <ion-content class="textInformation text1">Plataforma: PS5</ion-content>
    <ion-img class="imgWorld" src="../../assets/imagen/imgWorld.png"></ion-img>
    <ion-content class="textInformation text2">Versión: Global</ion-content>
    <ion-img class="imgKey" src="../../assets/imagen/imgKey.png"></ion-img>
    <ion-content class="textInformation text3">Tipo: Clave</ion-content>
  
    <ion-button fill="clear" class="buttonCompra"></ion-button>
    <p class="comprar">
      Comprar
    </p>
  </ion-content>

  <ion-label class="textOferts">Ofertas de 6 negocios de venta</ion-label>

  <ion-row class="view-store-vm">
    <ion-col class="store">
      <ion-row class="storeCatalog">
        <ion-label class="textStore">Juega Juega</ion-label>
        <ion-label class="costStore">$71.50</ion-label>
        <ion-img class="imgStore" src="../../assets/imagen/store-1.png"></ion-img>
      </ion-row>
      <ion-row class="store-2 storeCatalog">
        <ion-label class="textStore">Brand Gaming</ion-label>
        <ion-label class="costStore">$72.60</ion-label>
        <ion-img class="imgStore" src="../../assets/imagen/store-2.png"></ion-img>
      </ion-row>
      <ion-row class="store-3 storeCatalog">
        <ion-label class="textStore">CEO Game</ion-label>
        <ion-label class="costStore">$74.99</ion-label>
        <ion-img class="imgStore" src="../../assets/imagen/store-3.png"></ion-img>
      </ion-row>
      <ion-row class="store-4 storeCatalog">
        <ion-label class="textStore">Planet Games</ion-label>
        <ion-label class="costStore">$76.80</ion-label>
        <ion-img class="imgStore" src="../../assets/imagen/store-4.png"></ion-img>
      </ion-row>
      <ion-row class="store-5 storeCatalog">
        <ion-label class="textStore">GamesStore Ecuador</ion-label>
        <ion-label class="costStore">$79.99</ion-label>
        <ion-img class="imgStore" src="../../assets/imagen/store-5.png"></ion-img>
      </ion-row>
      <ion-row class="store-6 storeCatalog">
        <ion-label class="textStore">Instant Game</ion-label>
        <ion-label class="costStore">$84.99</ion-label>
        <ion-img class="imgStore" src="../../assets/imagen/store-6.png"></ion-img>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>